@import '~bootstrap';
@import '@fortawesome/fontawesome-free';

header {
    display: grid;
    grid-template-columns: 150px auto 200px 100px;
    grid-template-areas: "logo titulo erabiltzailea idioma";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
}

main {
	font-size: 0.9rem;
    width: 100vw;
}

.bonoImage {
    height: 140px;
    width: auto;
}

.logo {
    height: 140px;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

body {
    background-color: white;
}

tbody {
    line-height: 1rem;
}

.fixed-width-200px {
    width: 200px;
}

.fixed-height-100px
{
    min-height: 100px;
    height: 100px;
}

.fixed-height-150px {
    min-height: 150px;
    height: 150px;
}

.card-rounded {
    border-radius: 10% !important;
}

a {
    text-decoration: none !important;
}

#my-status-card {
    display: block;
}

#my-status-toggle {
    display: none;
}

.bonus-list {
    height: 100%;
 }

.bonus {
    height: 100%;
}

.nik-qr {
    width: 500px; 
    height: auto;
}

.required::before {
    content: "* " !important;
    color: red !important;
}

@media (max-width: 900px) {
    .logo {
        height: 100px;
        width: auto;
    }

    .logo-beltza {
        height: 80px;
        width: auto;
    }

    .bonoImage {
        height: 100px;
        width: auto;
    }

    .qr {
        height: 100px;
        width: auto;
    }

    .h3 {
        font-size: 1.2rem !important;
    }

    .h4 {
        font-size: 1.0rem !important;
    }

    #my-status-toggle {
        display: block;
    }

    #span-erabiltzailea {
        font-size: 0.8rem;
    }

    #campaignTitle {
        font-size: 0.8rem;
    }

    .bonus {
        height: auto;
    }

    .bonus-list {
        height: auto;
        width: auto;
    }
}

@media (max-width: 400px) {
    .logo {
        height: 50px;
        width: auto;
    }

    .bonoImage {
        height: 50px;
        width: auto;
    }

    .qr {
        height: 100px;
        width: auto;
    }

    .bonus-list {
        width: 100%;
    }

    #izena {
        display: none;
    }
}